header {

}

.grid-6 {
  float: right;
}



body {

  background: url(https://image.freepik.com/free-photo/no-translate-detected_1404-93.jpg) center center / cover no-repeat fixed;


}

.contents {

  margin: 0 auto;
  width: 100%;

}
